<div class="header">
    <div class="header-link">
        <a href="https://www.linkedin.com/in/marcus-maione/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="avatar"><%= image_tag("IMG_4851_Original.jpg", alt: "profile picture") %></div>
    <div class="header-link">
        <a href="https://github.com/marcusmaione" target="_blank"><i class="fab fa-github"></i></a>
    </div>
</div>
<h2>Marcus Maione</h2>
<div class="container">
    
    <h3><a href="https://vagazap.herokuapp.com/">Vagazap</a></h3>
    <p>Ruby on Rails web app that works like a marketplace for jobs, where companies 
    can create jobs and users can like them.</p>
    <p>It includes a method for company profiles that automatically filters the best 
    candidates for each of their jobs and another one for user profiles that filters 
    the best jobs for the user that is signed in.</p>
    <a href="https://github.com/marcusmaione/vagazap">See on GitHub</a>
    
    <h3><a href="https://forex-br.herokuapp.com/">Forex BR</a></h3>
    <p>Ruby on Rails web app that includes a JavaScript currency exchange calculator on the home page.</p>
    <a href="https://github.com/marcusmaione/forex-br">See on GitHub</a>

</div>    