body {
    background-color: $white;
    margin: 0px;
    font-family: $body-font;
    color: $gray;
}
  
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
   
.steps-container {
    margin: 0px auto 30px auto;
    padding: 30px 24px 0px 24px;
    display: flex;
    flex-direction: column;
}
  
@media (min-width: 992px) {
    .steps-container {
        padding: 0 15px;
        margin: 56px auto 56px auto;
        flex-direction: row;
        justify-content: center;
    }
}
  
.steps-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 30px 0px 30px 0px;
    // color: $black;
}
  
.steps-item h5 {
    font-weight: 700;
    font-size: 20px;
}
  
.steps-item p {
    font-weight: 500;
    margin-bottom: 24px;
}
  
@media (min-width: 400px) {
    .steps-item {
        padding: 0 25px;
    }
}
  
   
.fa-address-card {
    color: $light-gray;
    font-size: 40px;
}
  
.fa-map-marked-alt {
    color: $light-gray;
    font-size: 40px;
}
  
.fa-user-check {
    color: $light-gray;
    font-size: 40px;
}